@use '../config/variaveis';

// Seção de produtos
section {
    padding: 56px 0;

    .products {
        margin-top: 40px;
        @include variaveis.grid(3, 1%, 4%);

        .product-item {
            img {
                width: 100%;
                border-radius: 16px;
            }

            .product-button {
                display: block;
                background-color: variaveis.$corSecundaria;
                color: variaveis.$corDeTexto;
                text-align: center;
                padding: 8px 0;
                border-radius: 8px;
                margin-top: 8px;
                text-decoration: none;

                &:hover {
                    background-color: variaveis.$corSecundariaHover;
                }
            }
        }
    }
}
